{% extends 'base.html' %}
{% load static %}



{% block title %} Admin {% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="{% url 'home' %}"><strong>Estrud</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
            <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin' %}">Início</a>
                  </li>
            </ul>
</nav>

{% endblock %}

{% block main %}



    <div class="container">
   <a href="{% url 'logout' %}" class="badge badge-danger">Sair</a>


    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static "thumb-pilar.jpg" %}" alt="My image">
        <div class="card-body">
            <h5 class="card-title">Pilares</h5>
             <a href="{% url 'pilares' %}" class="btn btn-secondary"> Acessar </a>
        </div>
    </div>
    </div>


{% endblock %}
