{% extends 'base.html' %}


{% block title %} Admin {% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="{% url 'home' %}"><strong>Estrud</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
            <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin' %}">Início</a>
                  </li>
            </ul>
</nav>

{% endblock %}

{% block main %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'admin' %}">Início</a></li>
    <li class="breadcrumb-item"><a href="{% url 'pilares' %}">Pilares</a></li>
    <li class="breadcrumb-item active" aria-current="page">Integração Numérica</li>
  </ol>
</nav>

<a href="{% url 'new_int_numerica' %}" class="btn btn-secondary mb-2 btn-sm"> New </a>

<table class="table table-sm table-bordered">

  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Descrição</th>
      <th scope="col">l</th>
      <th scope="col">p</th>
      <th scope="col">m</th>
      <th scope="col">h</th>
      <th scope="col">q</th>
      <th scope="col">ei</th>
      <th scope="col">Editar</th>
    </tr>
  </thead>
  <tbody>
    {% for item in lista %}
    <tr>
      <th scope="row">{{ item.id }}</th>
      <td>{{ item.descricao }}</td>
      <td>{{ item.l }}</td>
      <td>{{ item.p }}</td>
      <td>{{ item.m }}</td>
      <td>{{ item.h }}</td>
      <td>{{ item.q }}</td>
      <td>{{ item.ei }}</td>
      <td>
          <a href="{% url 'memory_update' item.id %}" class="btn btn-success btn-sm"><i class="fas fa-edit"></i></a>
          <a href="{% url 'memory_delete' item.id %}" class="btn btn-danger btn-sm"> <i class="fas fa-trash-alt"></i> </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
